<section class="mainbar" data-ng-init="vm.toEditConfig()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Editar ajustes actuales
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.update()" novalidate>

        <formly-form model="vm.config" fields="vm.formFields" form="vm.form">
        </formly-form>

        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Guardar Cambios
            </button>
          <a class="btn btn-danger" href="/config/55a95c87ebe973e1080ff5f0">
              <i class="glyphicon glyphicon-remove"></i> Cancelar
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>


    </div>
  </div>

</section>
