





<section class="mainbar" data-ng-init="vm.setFormFields()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Nuevo Socio
    </div>
    <div class="panel-body">

   <form data-ng-submit="vm.create()" novalidate>
   <!--  <form name="vm.form"  data-ng-submit="vm.create()" novalidate>

      <input type="text" name="nombres"  ng-model="vm.socio.nombres " required="required" placeholder="nombres" required="required">
      <input type="text" name="apellidos"  ng-model="vm.socio.apellidos " required="required" placeholder="apellidos" required="required">
      <input type="text" name="nombres"  ng-model="vm.socio.nombres " required="required" placeholder="nombres" required="required">
      <input type="datetime" name="cedula"  ng-model="vm.socio.cedula " required="required" placeholder="cedula" required="required"  pattern="[0-9]{9}">-->

        <formly-form model="vm.socio" fields="vm.formFields" form="vm.form">
        </formly-form>

        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-xs" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Guardar
            </button>
            <a class="btn btn-danger btn-xs" href="/socio">
              <i class="glyphicon glyphicon-remove"></i> Cancelar
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>
    
    
      </form>

    </div>
  </div>

</section>


