
        
 <!--

<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Listado de Socios 
    </div>
    <div class="panel-body">


<div  ng-controller="DashboardController as vm">
 
<input type="text" name="pepe"  id"pepe" ng-model="vm.dato" disabled=disabled required>

  
  <ul>
      <li ng-repeat="info in vm.resultadoConsulta">Nombre: <span>{{info.nombre}}</span></br> Apellido {{info.apellido}}</br>Cédula: {{info.cedula}} </li>
  </ul>

<input type="text" ng-model="vm.caja"> <input type="button" value="Buscar" ng-click="vm.realizarConsulta()"> {{infos.ced}}


  </p>
  <ul>
  </ul>
    



  
   
    </div>

-->
   
