<section class="mainbar" data-ng-init="vm.setFormFields()">


</script>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Apertura de Cuenta
   </div>
    <div class="panel-body">
<form name="vm.form"  data-ng-submit="vm.create2()" novalidate>
    <label>
       Titular: </label> {{vm.cuent.titular}} {{vm.cuent.titularap}}</br>
     <!--  <input type="text" name="titular"  id="titular" ng-model="vm.cuent.titular">
-->
    
    
    <label>
       Numero de Cuenta: </label> {{vm.cuent.numeroCuenta}}
      <!-- <input type="text" name="numeroCuenta" ng-model="vm.cuent.numeroCuenta"
      >-->
    
   
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Aperturar
            </button>
            <a class="btn btn-danger" href="/socio/{{vm.cuent.id_socio}}">
              <i class="glyphicon glyphicon-remove"></i> Cancelar
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>

    </div>
  </div>
  

</section>
